.wrapper {
    margin: 48px 0 48px 360px;
    
    span {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 4px;

        &.active {
            background-color: orange;
        }
    }
}
.canvas-wrapper {
    position: relative;
    
    .layer {
        position: absolute;
        left: 0;
        right: 0;

        &.layer-0 {
            z-index: 0;
        }
        &.layer-1 {
            z-index: 1;
        }
    }
}
.wrong {
    color: red;
}
input {
    outline: none;
    border: 1px solid gray;

    &[type='number'] {
        -moz-appearance: none;
        appearance: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
    }
}

.number-input {
    position: fixed;
    width: 48px;
    height: 24px;
    z-index: 4;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    text-align: center;
}
.result-input {
    width: 24px;
    font-size: 20px;
    padding: 4px;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
}
.number-result {
    position: fixed;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}